In [37]:
import pandas as pd 
import numpy as np 
import seaborn as sns
import sklearn as skn 
from urllib.request import urlopen

In [45]:
heart = pd. read_csv('heart-data-discretized-train.csv')

In [46]:
heart.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,2,1,0,1,0,0,1,3,0,0,2,2,3,0
1,2,1,0,2,0,1,0,3,1,2,0,0,3,0
2,4,1,0,2,0,0,1,2,1,2,0,0,3,0
3,3,1,0,2,0,0,1,3,0,0,2,1,3,0
4,3,0,0,2,1,1,1,1,0,1,1,3,2,0

In [47]:
heart.tail()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
808,2,1,0,1,1,0,1,0,1,1,1,2,3,0
809,1,1,0,0,0,0,0,3,0,0,2,0,3,0
810,3,1,1,2,1,0,1,3,1,0,2,0,2,1
811,1,1,0,0,1,0,0,1,1,0,1,1,2,0
812,2,0,0,0,1,0,0,3,0,0,2,0,2,1

In [48]:
model= BayesianModel([("age","sex"),("trestbps","chol"),("thal","target")])
model.fit(heart)

C:\Users\Abd ur Rehman\anaconda3\lib\site-packages\pgmpy\models\BayesianModel.py:8: FutureWarning: BayesianModel has been renamed to BayesianNetwork. Please use BayesianNetwork class, BayesianModel will be removed in future.
  warnings.warn(

In [60]:
from pgmpy.inference import VariableElimination
infer = VariableElimination(model)
q=infer.query(variables=['target'],evidence={'age':2})

In [56]:
print(q)

+-----------+---------------+
| target    |   phi(target) |
+===========+===============+
| target(0) |        0.4920 |
+-----------+---------------+
| target(1) |        0.5080 |
+-----------+---------------+