In [1]:
import pandas as pd 
from urllib.request import urlopen
import numpy as np 
import seaborn as sns
import sklearn as skn 
from pgmpy .models  import BayesianModel
from pgmpy.estimators import MaximumLikelihoodEstimator, BayesianEstimator

In [36]:
heart = pd. read_csv('heart-data-discretized-train.csv')

In [37]:
heart.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,2,1,0,1,0,0,1,3,0,0,2,2,3,0
1,2,1,0,2,0,1,0,3,1,2,0,0,3,0
2,4,1,0,2,0,0,1,2,1,2,0,0,3,0
3,3,1,0,2,0,0,1,3,0,0,2,1,3,0
4,3,0,0,2,1,1,1,1,0,1,1,3,2,0

In [38]:
heart.tail()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
808,2,1,0,1,1,0,1,0,1,1,1,2,3,0
809,1,1,0,0,0,0,0,3,0,0,2,0,3,0
810,3,1,1,2,1,0,1,3,1,0,2,0,2,1
811,1,1,0,0,1,0,0,1,1,0,1,1,2,0
812,2,0,0,0,1,0,0,3,0,0,2,0,2,1

In [39]:
heart.shape

(813, 14)

In [40]:
heart.isnull().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

In [41]:
heart.columns

Index(['age', 'sex', 'cp', 'trestbps', 'chol', 'fbs', 'restecg', 'thalach',
       'exang', 'oldpeak', 'slope', 'ca', 'thal', 'target'],
      dtype='object')

In [42]:
heart.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 813 entries, 0 to 812
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       813 non-null    int64
 1   sex       813 non-null    int64
 2   cp        813 non-null    int64
 3   trestbps  813 non-null    int64
 4   chol      813 non-null    int64
 5   fbs       813 non-null    int64
 6   restecg   813 non-null    int64
 7   thalach   813 non-null    int64
 8   exang     813 non-null    int64
 9   oldpeak   813 non-null    int64
 10  slope     813 non-null    int64
 11  ca        813 non-null    int64
 12  thal      813 non-null    int64
 13  target    813 non-null    int64
dtypes: int64(14)
memory usage: 89.0 KB

In [43]:
del heart['trestbps'] 
del heart['restecg']
del heart['thalach']
del heart['oldpeak']

In [44]:
heart.head()

   age  sex  cp  chol  fbs  exang  slope  ca  thal  target
0    2    1   0     0    0      0      2   2     3       0
1    2    1   0     0    1      1      0   0     3       0
2    4    1   0     0    0      1      0   0     3       0
3    3    1   0     0    0      0      2   1     3       0
4    3    0   0     1    1      0      1   3     2       0

In [45]:
heart.columns

Index(['age', 'sex', 'cp', 'chol', 'fbs', 'exang', 'slope', 'ca', 'thal',
       'target'],
      dtype='object')

In [53]:
model = BayesianModel([('age', 'chol'),('age', 'exang'),('sex', 'chol'),
                      ('thal', 'chol'), ('chol', 'target'), ('exang', 'target'),
                       ('target', 'slope'), ('target', 'ca'), ('target', 'fbs') ])

C:\Users\Abd ur Rehman\anaconda3\lib\site-packages\pgmpy\models\BayesianModel.py:8: FutureWarning: BayesianModel has been renamed to BayesianNetwork. Please use BayesianNetwork class, BayesianModel will be removed in future.
  warnings.warn(

In [54]:
print (heart)

     age  sex  cp  chol  fbs  exang  slope  ca  thal  target
0      2    1   0     0    0      0      2   2     3       0
1      2    1   0     0    1      1      0   0     3       0
2      4    1   0     0    0      1      0   0     3       0
3      3    1   0     0    0      0      2   1     3       0
4      3    0   0     1    1      0      1   3     2       0
..   ...  ...  ..   ...  ...    ...    ...  ..   ...     ...
808    2    1   0     1    0      1      1   2     3       0
809    1    1   0     0    0      0      2   0     3       0
810    3    1   1     1    0      1      2   0     2       1
811    1    1   0     1    0      1      1   1     2       0
812    2    0   0     1    0      0      2   0     2       1

[813 rows x 10 columns]

In [55]:
model.fit(heart, estimator=MaximumLikelihoodEstimator)

In [64]:
print(model.get_cpds('target'))

+-----------+---------------------+-----+----------+----------+----------+
| chol      | chol(0)             | ... | chol(3)  | chol(4)  | chol(4)  |
+-----------+---------------------+-----+----------+----------+----------+
| exang     | exang(0)            | ... | exang(1) | exang(0) | exang(1) |
+-----------+---------------------+-----+----------+----------+----------+
| target(0) | 0.26666666666666666 | ... | 1.0      | 0.0      | 0.5      |
+-----------+---------------------+-----+----------+----------+----------+
| target(1) | 0.7333333333333333  | ... | 0.0      | 1.0      | 0.5      |
+-----------+---------------------+-----+----------+----------+----------+

In [65]:
print(model.get_cpds('sex'))

+--------+----------+
| sex(0) | 0.309963 |
+--------+----------+
| sex(1) | 0.690037 |
+--------+----------+

In [66]:
print(model.get_cpds('age'))

+--------+-----------+
| age(0) | 0.0381304 |
+--------+-----------+
| age(1) | 0.225092  |
+--------+-----------+
| age(2) | 0.335793  |
+--------+-----------+
| age(3) | 0.345633  |
+--------+-----------+
| age(4) | 0.0553506 |
+--------+-----------+